BibliotecaViva/DAO/bin/Debug/netstandard2.0/BibliotecaViva.DAO.deps.json
BibliotecaViva/DAO/bin/Debug/netstandard2.0/BibliotecaViva.DAO.dll
BibliotecaViva/DAO/bin/Debug/netstandard2.0/BibliotecaViva.DAO.pdb
BibliotecaViva/DAO/bin/Debug/netstandard2.0/System.Data.SQLite.NetStandard.dll
BibliotecaViva/DAO/bin/Debug/netstandard2.0/System.Data.SQLite.NetStandard.pdb
BibliotecaViva/DAO/obj
BibliotecaViva/API/obj
BibliotecaViva/API/bin